:root {
  --container--max-width: 1920px;
  --container--width: min(100%, var(--container--max-width));
  --container--padding: 4rem;
  --container--column-gap: 2rem;
  --container--column: 16;
}

@media (max-width: 991px) {
  :root {
    --container--padding: 2.4rem;
    --container--column: 8;
  }
}

@media (max-width: 767px) {
  :root {
    --container--column: 4;
    --container--column-gap: 1.6rem;
  }
}

.container {
  width: 100%;
  max-width: var(--container--width);
  margin-inline: auto;
  padding-inline: var(--container--padding);
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--container--column), minmax(0, 1fr));
  column-gap: var(--container--column-gap);
}

.container.grid {
  width: 100%;
  max-width: var(--container--width);
  margin-inline: auto;
  padding-inline: var(--container--padding);
}

.full-width {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
