.wrap {
  position: relative;
  z-index: 3;
  background-color: var(--bg-brown-10);
}

.blockEmpty {
  height: 130vh;
}

.team {
  position: sticky;
  bottom: 0;
  padding-top: 16.8rem;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 20rem;
  width: 100%;
  /* margin-bottom: 30rem; */
}

.item {
  width: 100%;
  display: flex;
}

.media {
  position: relative;
  min-width: 0;
}

.mediaInner {
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
  will-change: transform;
}

.haveMargin {
  margin-top: 8rem;
}

.img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  will-change: transform;
}

.text {
  min-width: 0;
  align-self: center;
}

.title {
  margin: 0 0 4rem;
  color: var(--brand-persian-blue);
}

.desc {
  margin: 0;
  line-height: 1.4;
  color: var(--brand-persian-blue);
}

.thumb {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.thumbInner {
  position: absolute;
  inset: 0;
  overflow: hidden;
  will-change: clip-path;
  transform: translateZ(0);
}

.thumbImg {
  object-fit: cover;
  will-change: transform;
}

/* Desktop */
.item1ImgA {
  grid-area: 1 / 9 / 3 / -4;
}

.item1Text {
  grid-area: 1 / 4 / 2 / 8;
  align-self: center;
}

.item1ImgB {
  grid-area: 2 / 4 / 7 / 8;
}

.item2Img {
  grid-area: 1 / 4 / 2 / 9;
}

.item2Text {
  grid-area: 1 / 10 / 2 / -4;
  align-self: end;
}

.item3Img {
  grid-area: 1 / 10 / 2 / -4;
}

.item3Text {
  grid-area: 1 / 4 / 2 / 9;
  align-self: end;
}

/* <= 991px */
@media (max-width: 991px) {
  .blockEmpty {
    height: 0;
  }

  .team {
    padding-top: 12rem;
  }

  .list {
    row-gap: 12rem;
    margin-bottom: 12rem;
  }

  .haveMargin {
    margin-top: 0;
    margin-bottom: 4rem;
  }

  .title {
    margin-bottom: 3.2rem;
  }

  .item1ImgA {
    grid-column: 6 / -2;
    align-self: start;
  }

  .item1Text {
    grid-column: 2 / 5;
    grid-row-start: 1;
    align-self: start;
  }

  .item1ImgB {
    grid-column: 2 / 5;
  }

  .item2Img {
    grid-column: 6 / -2;
    align-self: end;
  }

  .item2Text {
    grid-column: 2 / 5;
    align-self: start;
  }

  .item3Img {
    grid-column: 2 / 5;
    align-self: end;
  }

  .item3Text {
    grid-column: 6 / -2;
    align-self: start;
  }

  .thumb {
    height: auto;
  }

  .thumbInner {
    position: relative;
    inset: auto;
    aspect-ratio: 16 / 10;
    border-radius: 0.8rem;
  }
}

/* <= 767px */
@media (max-width: 767px) {
  .blockEmpty {
    display: none;
  }

  .team {
    position: relative;
    bottom: auto;
    padding-top: 8rem;
  }

  .list {
    row-gap: 8rem;
    margin-bottom: 5rem;
  }

  .haveMargin {
    margin-top: 0;
    margin-bottom: 4rem;
  }

  .item1Text {
    grid-column: 2 / -1;
    margin-bottom: 4rem;
    align-self: center;
  }

  .item1ImgB {
    grid-area: 2 / 1 / 3 / -2;
  }

  .item1ImgA {
    grid-area: 2 / 1 / 3 / -1;
    grid-row-start: 6;
  }

  .item2Text {
    grid-area: 1 / 1 / 2 / 4;
    margin-bottom: 4rem;
  }

  .item2Img {
    grid-area: 2 / 1 / 3 / -1;
  }

  .item3Text {
    grid-area: 1 / 2 / 2 / -1;
    margin-bottom: 4rem;
    align-self: center;
  }

  .item3Img {
    grid-area: 2 / 1 / 4 / -1;
  }

  .thumbInner {
    aspect-ratio: 4/3;
  }

  .thumbImg {
    object-fit: cover;
  }
}
