# Target modern browsers that cover ~95% of users.
# This tells SWC/Babel NOT to polyfill ES2019-2022 features
# (Array.at, Object.fromEntries, Object.hasOwn, etc.) saving ~14KB.

last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 Edge versions
not dead
not IE 11
