.wrap {
  position: relative;
  z-index: 2;
  width: 100%;
}

.shell {
  position: relative;
  width: 100%;
}

.stick {
  position: relative;
  height: 100vh;
  display: grid;
  place-items: center;
  pointer-events: none;
  z-index: 10;
}

.headingStack {
  width: 100%;
  max-width: 98rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}

.heading {
  grid-area: 1 / 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.92);
  mix-blend-mode: difference;
  opacity: 0;
  visibility: hidden;
}

.main {
  position: relative;
  z-index: 2;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

.stage {
  position: relative;
  width: 100%;
  height: 300vh;
}

.col {
  position: absolute;
  inset: 0;
}

.list {
  position: relative;
  width: 100%;
  height: 100%;
}

.item {
  position: absolute;
  left: 33%;
  top: 30%;
  transform-origin: 50% 30%;
}

.inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1.2rem;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* start stack placements */
.startItem:nth-child(1) {
  width: 54rem;
  height: 40.5rem;
  transform: translate(-50%, -50%) translate(-22.2rem, 6.2rem) rotate(-5deg);
}
.startItem:nth-child(2) {
  width: 77rem;
  height: 57.6rem;
  transform: translate(-50%, -50%) translate(11.5rem, 3rem) rotate(5deg);
}
.startItem:nth-child(3) {
  width: 43.2rem;
  height: 52.3rem;
  transform: translate(-50%, -50%) translate(-22.7rem, 21.3rem) rotate(-5deg);
}
.startItem:nth-child(4) {
  width: 58.7rem;
  height: 42rem;
  transform: translate(-50%, -50%) translate(20.3rem, 19.3rem) rotate(5deg);
}
.startItem:nth-child(5) {
  width: 62.4rem;
  height: 75.6rem;
  transform: translate(-50%, -50%) translate(-10.5rem, 29.5rem) rotate(-5deg);
}

/* end layout used only for measurement */
.end .list {
  width: 100%;
  max-width: var(--container--width, 1440px);
  margin-inline: auto;
  padding-inline: var(--container--padding, 2rem);
  display: grid;
  grid-template-columns: repeat(16, minmax(0, 1fr));
  column-gap: var(--container--column-gap, 2rem);
  height: 100%;
  align-content: start;
  padding-top: 34vh;
}

.endItem {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
}

.endItem:nth-child(1) {
  width: 54rem;
  height: 40.5rem;
  grid-column: 1/6;
  grid-row: 1/1;
  justify-self: end;
}
.endItem:nth-child(2) {
  width: 77rem;
  height: 57.6rem;
  margin-top: -12.3rem;
  grid-column: 11/14;
  grid-row: 1/1;
}
.endItem:nth-child(3) {
  width: 43.2rem;
  height: 52.3rem;
  margin-top: 76.4rem;
  grid-column: 1/4;
  grid-row: 1/1;
  justify-self: end;
}
.endItem:nth-child(4) {
  width: 58.7rem;
  height: 42rem;
  margin-top: 79rem;
  grid-column: 13/16;
  grid-row: 1/1;
  margin-left: 4rem;
}
.endItem:nth-child(5) {
  width: 62.4rem;
  height: 75.6rem;
  margin-top: 100rem;
  grid-column: 6/12;
  grid-row: 1/1;
  justify-self: center;
}

.measureOnly {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* initial “comes from bottom” state (matches your working version) */
.start {
  opacity: 0;
  transform: translate3d(0, 55vh, 0);
  will-change: transform, opacity;
}

/* responsive */
@media only screen and (max-width: 991px) {
  .stage {
    height: 150rem;
  }

  .end .list {
    padding-inline: 2.4rem;
  }

  .startItem:nth-child(1),
  .endItem:nth-child(1) {
    width: 27.3rem;
    height: 19.5rem;
  }
  .startItem:nth-child(2),
  .endItem:nth-child(2) {
    width: 17.4rem;
    height: 12.5rem;
  }
  .startItem:nth-child(3),
  .endItem:nth-child(3) {
    width: 17.4rem;
    height: 21rem;
  }
  .startItem:nth-child(4),
  .endItem:nth-child(4) {
    width: 27.4rem;
    height: 19.6rem;
  }
  .startItem:nth-child(5),
  .endItem:nth-child(5) {
    width: 17.5rem;
    height: 21.2rem;
  }
}

@media only screen and (max-width: 767px) {
  .stage {
    height: 110rem;
  }

  .end .list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
