.container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

@supports (height: 100svh) {
  .container {
    height: 100svh;
  }
}
.background {
  position: absolute;
  inset: 0;
  transform: scale(1);
  will-change: transform;
}

.img {
  object-fit: cover;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  max-width: none;
  object-position: 50% 100%;
}

.blur {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  filter: blur(10px);
  transform: scale(1.02);
  will-change: opacity;
}

.backdrop {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 50%);
  opacity: 0;
  will-change: opacity;
}

.text {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 2.4rem;
  will-change: opacity;
}

.title {
  margin: 0 0 4rem;
  max-width: 50vw;
  color: var(--text-white);
}

.subtitle {
  margin: 0;
  max-width: 72rem;
  color: var(--text-white);
}

@media (max-width: 991px) {
  .title {
    max-width: 100%;
  }

  .subtitle {
    max-width: 52rem;
  }
}

@media (max-width: 767px) {
  .subtitle {
    max-width: none;
  }
}
