.container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.background {
  position: absolute;
  inset: 0;
  transform: scale(1);
  will-change: transform;
}

.img {
  object-fit: cover;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  max-width: none;
  object-position: 50% 100%;
}

.blur {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  filter: blur(10px);
  transform: scale(1.02);
  will-change: opacity;
}

.backdrop {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 50%);
  opacity: 0;
  will-change: opacity;
}

.text {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  will-change: opacity;
  text-align: center;
}

.title {
  margin: 0 0 4rem;
  max-width: 50vw;
  color: var(--color--content--white);
}

.subtitle {
  margin: 0;
  max-width: 72rem;
  color: var(--color--content--white);
}

@media only screen and (max-width: 991px) {
  .title {
    max-width: 100%;
  }

  .subtitle {
    max-width: 52rem;
  }
}

@media only screen and (max-width: 767px) {
  .subtitle {
    max-width: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  .background,
  .blur,
  .backdrop,
  .text {
    transition: none !important;
  }
}
