.container {
  position: relative;
  height: 500vh;
  width: 100%;
  overflow: hidden;
  background: var(--bg-brown-10);
}

.pin {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.imgWrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  will-change: clip-path;
  transform: translateZ(0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.img {
  object-fit: cover;
  will-change: transform;
}
