.wrap {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.inner {
  position: absolute;
  inset: 0;
  overflow: hidden;
  will-change: clip-path;
  transform: translateZ(0);
}

.img {
  object-fit: cover;
  will-change: transform;
}
