.wrap {
  position: relative;
  z-index: 2;
  background-color: var(--bg-brown-10);
  overflow: hidden;
  margin-top: -130vh;
}

.container {
  padding-top: 16rem;
  padding-bottom: 10rem;
}

.text {
  grid-column: 4 / -4;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0 0 3.2rem;
  color: var(--brand-persian-blue);
}

.desc {
  margin: 0;
  color: var(--brand-persian-blue);
}

.swiper {
  margin-top: 6rem;
  grid-area: 2 / 2 / 3 / -2;
  width: 100%;
  padding: 0 1rem;
  height: 50rem;
}

.slide {
  border-radius: 0.8rem;
  flex: none;
  height: 100%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 991px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .text {
    padding: 0 4rem;
    margin-bottom: 4rem;
  }
  .swiper {
    height: 44rem;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 12rem 1rem 7rem;
  }

  .text {
    padding: 0 1rem;
    grid-column: 1/-1;
  }
  .swiper {
    grid-column: 1 / -1;
    height: 41.4rem;
  }
}
