.bodyInner {
  width: 100%;
  min-height: 100%;
  display: block;
}

.main {
  position: relative;
  z-index: 2;
  width: 100%;
}

.mainInner {
  min-height: 100%;
  display: block;
}

.mainContent {
  position: relative;
  z-index: 1;
  width: 100%;
  display: block;
}

.homeHeroWrap {
  position: relative;
  z-index: 1;
}

.homeGalleryWrap {
  position: relative;
  z-index: 2;
}

.homeMapWrap {
  position: relative;
  z-index: 2;
  height: 100vh;
}

.homeYachtWrap {
  position: relative;
  z-index: 1;
}

.homeTeamWrap {
  position: relative;
  z-index: 3;
  background-color: var(--background--brown-10);
}

.homeJournalWrap {
  position: relative;
  z-index: 2;
  width: 100%;
  display: block;
}

.homeArticleWrap {
  position: relative;
  z-index: 3;
  background-color: var(--color--content--white);
}

.homeHeroCloneWrap {
  position: relative;
}
