.bodyInner {
  flex-flow: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
}

.main {
  z-index: 2;
  flex: 1;
  position: relative;
}

.mainInner {
  flex-flow: column;
  min-height: 100vh;
  display: flex;
}

.mainContent {
  z-index: 1;
  flex-flow: column;
  flex: 1;
  display: flex;
  position: relative;
}

@media (max-width: 767px) {
  :global(html),
  :global(body) {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  :global(body) {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    position: fixed;
  }

  .bodyInner {
    overscroll-behavior: none;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
