.bodyInner {
  flex-flow: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
}

.main {
  z-index: 2;
  flex: 1;
  position: relative;
}

.mainInner {
  flex-flow: column;
  min-height: 100vh;
  display: flex;
}

.mainContent {
  z-index: 1;
  flex-flow: column;
  flex: 1;
  display: flex;
  position: relative;
}

.homeHeroWrap {
  z-index: 1;
  position: relative;
}

.homeGalleryWrap {
  z-index: 2;
  margin-top: -100vh;
  padding-top: 100vh;
  position: relative;
}

.homeMapWrap {
  z-index: 2;
  /* margin-top: -100vh; */
  position: relative;
  height: 100vh;
}

.homeYachtWrap {
  z-index: 1;
  margin-top: -0.1rem;
  padding-top: 0.1rem;
  position: relative;
}

.homeTeamWrap {
  z-index: 3;
  background-color: var(--background--brown-10);
  position: relative;
}

.homeJournalWrap {
  z-index: 2;
  width: 100%;
  display: flex;
  position: relative;
}

.homeArticleWrap {
  z-index: 3;
  background-color: var(--color--content--white);
  margin-top: -0.1rem;
  position: relative;
}

.homeHeroCloneWrap {
  margin-top: -0.2rem;
}
