.wrap {
  position: relative;
  z-index: 3;
  background-color: var(--bg-brown-10);
}

.team {
  padding-top: 16.8rem;
  position: sticky;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 20rem;
  width: 100%;
  margin-bottom: 30rem;
}

.item {
  width: 100%;
  display: flex;
}

.media {
  position: relative;
}

.mediaInner {
  border-radius: 0.8rem;
  overflow: hidden;
}

.haveMargin {
  margin-top: 8rem;
}

.img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.text {
  align-self: center;
}
.grid {
  margin: 0;
  padding: 0;
}

.title {
  margin: 0 0 4rem;
  color: var(--brand-persian-blue);
}

/* 1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16 */

.desc {
  margin: 0;
  line-height: 1.4;
  color: var(--brand-persian-blue);
}

/* Item 1 */
.item1ImgA {
  grid-area: 1 / 9 / 3 / -4;
}

.item1Text {
  grid-area: 1 / 4 / 2 / 8;
}

.item1ImgB {
  grid-area: 2 / 4 / 3 / 8;
}

/* Item 2 */
.item2Img {
  grid-area: 1 / 4 / 2 / 10;
}

.item2Text {
  grid-area: 1 / 11 / 2 / 16;
}

/* Item 3 */
.item3Img {
  grid-area: 1 / 10 / 2 / 16;
}

.item3Text {
  grid-area: 1 /4 / 2 / 9;
}

/* Thumb */
.thumb {
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  height: 100vh;
  margin-top: 8rem;
}

.thumbInner {
  position: relative;
  inset: 0;
  overflow: hidden;
  will-change: clip-path;
  height: 100%;
  width: 100%;
}

.thumbImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  will-change: transform;
}

/* ====== <= 991px (tablet) ====== */
@media (max-width: 991px) {
  .team {
    padding-top: 12rem;
  }

  .list {
    row-gap: 18rem;
  }

  .grid {
    padding-inline: 3.2rem;
    column-gap: 2rem;
  }

  .item1Text,
  .item2Text,
  .item3Text {
    grid-area: auto;
  }

  .item1ImgA,
  .item1ImgB,
  .item2Img,
  .item3Img {
    grid-area: auto;
  }

  .grid {
    grid-template-columns: repeat(8, minmax(1px, 1fr));
  }
}

/* ====== <= 767px (mobile) ====== */
@media (max-width: 767px) {
  .team {
    position: relative;
    bottom: auto;
    padding-top: 8rem;
  }

  .blockEmpty {
    display: none;
  }

  .list {
    row-gap: 15rem;
    margin-bottom: 20rem;
  }

  .grid {
    padding-inline: 2.4rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 1.6rem;
  }

  .haveMargin {
    margin-top: 6rem;
  }

  .thumb {
    height: auto;
  }

  .thumbInner {
    overflow: hidden;
    height: 70vh;
    position: relative;
  }
}

@media (max-width: 479px) {
  .grid {
    padding-inline: 1.8rem;
  }
}
