.wrap {
  position: relative;
  z-index: 3;
  background-color: var(--bg-brown-10);
}

.blockEmpty {
  height: 130vh;
}

.team {
  position: sticky;
  bottom: 0;
  padding-top: 18rem;
}

.list {
  width: 100%;
  margin-bottom: 80vh;
}
.items {
  grid-column: 3 / -3;
  grid-row-gap: 21rem;
  grid-column-gap: 24rem;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr);
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  display: grid;
  padding: 0 4rem;
}
.item {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.item:nth-child(2n) {
  margin-top: 59rem;
  margin-bottom: -59rem;
}

.media {
  position: relative;
  min-width: 0;
  width: 100%;
  aspect-ratio: 4/5;
  margin-top: 5.5rem;
}

.mediaInner {
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
  will-change: transform;
  height: 100%;
  width: 100%;
}

.img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  will-change: transform;
}

.text {
  min-width: 0;
  align-self: center;
}

.title {
  margin: 0 0 2rem;
  color: var(--brand-persian-blue);
  letter-spacing: 0.01em;
  font-size: 3.2rem;
  line-height: 1.22;
  font-weight: 600;
}

.desc {
  margin: 0;
  line-height: 1.4;
  color: var(--brand-persian-blue);
}

.thumb {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.thumbInner {
  position: absolute;
  inset: 0;
  overflow: hidden;
  will-change: clip-path;
  transform: translateZ(0);
}

.thumbImg {
  object-fit: cover;
  will-change: transform;
}

/* <= 991px */
@media (max-width: 991px) {
  .blockEmpty {
    height: 0;
  }

  .team {
    padding-top: 12rem;
  }

  .list {
    row-gap: 12rem;
    margin-bottom: 12rem;
  }

  .haveMargin {
    margin-top: 0;
    margin-bottom: 4rem;
  }

  /*  .title {
    margin-bottom: 3.2rem;
  } */

  .thumb {
    height: auto;
  }

  .thumbInner {
    position: relative;
    inset: auto;
    aspect-ratio: 16 / 10;
    border-radius: 0.8rem;
  }
}

/* <= 767px */
@media (max-width: 767px) {
  .blockEmpty {
    display: none;
  }

  .team {
    position: relative;
    bottom: auto;
    padding-top: 8rem;
  }

  .list {
    row-gap: 8rem;
    margin-bottom: 5rem;
  }

  .items {
    grid-column: 1 / -1;
    grid-template-columns: 1fr;
    padding: 0;
    grid-column-gap: 0;
    grid-row-gap: 6rem;
    padding: 0 2rem;
  }
  .item:nth-child(2n) {
    margin: 0;
  }
  .thumbInner {
    aspect-ratio: 4/3;
  }

  .thumbImg {
    object-fit: cover;
  }
}
