.wrap {
  position: relative;
  z-index: 2;
  contain: paint;
  margin-top: -100vh;
  width: 100%;
}

.emptyTop {
  height: 30vh;
}

.emptyBottom {
  height: 100vh;
}

.stick {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  display: grid;
  place-items: center;
}

.stickInner {
  width: 100%;
}

.text {
  text-align: center;
  mix-blend-mode: overlay;
  display: grid;
  place-items: center;
}

.textInner {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  will-change: transform, opacity;
}

.textItem {
  grid-area: 1 / 1;
  will-change: transform, opacity;
  pointer-events: none;
  max-width: 112rem;
  text-align: center;
}

.heading {
  margin: 0;
  max-width: 58ch;
}

.main {
  position: relative;
  z-index: 2;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

.gallery {
  position: relative;
  width: 100%;
}

.stage {
  position: relative;
  height: 300vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

/* START (DESKTOP) */
.startCol {
  position: absolute;
  inset: 0;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.item.start {
  position: absolute;
}

/* END */
.endCol {
  position: relative;
  grid-area: 1 / 1;
}

.item {
  position: relative;
}

.item.start {
  border-radius: 0.8rem;
  overflow: hidden;
}

.itemInner {
  width: 100%;
  height: 100%;
  pointer-events: none;
  scale: 1.2;
}

.img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.endList {
  align-content: start;
  opacity: 0;
}

@media (max-width: 991px) {
  .stickInner {
    padding: 0 3.2rem;
  }

  .heading {
    max-width: 46ch;
  }
}

@media (max-width: 767px) {
  .wrap {
    margin-top: -100svh;
  }

  .stick {
    height: 100svh;
  }

  .stickInner {
    padding: 0 2.4rem;
  }

  .heading {
    max-width: none;
  }

  .stage {
    height: 300svh;
  }
}

@media (max-width: 479px) {
  .stickInner {
    padding: 0 1.8rem;
  }
}

/* ITEMS POSITIONS */

.gallery .item:nth-child(1) {
  width: 54rem;
  aspect-ratio: 4/3;
}
.gallery .item:nth-child(2) {
  width: 70rem;
  aspect-ratio: 4/3;
}
.gallery .item:nth-child(3) {
  width: 43.2rem;
  aspect-ratio: 3 / 4;
}
.gallery .item:nth-child(4) {
  width: 58.7rem;
  height: 42rem;
}
.gallery .item:nth-child(5) {
  width: 62.4rem;
  /* height: 75.6rem; */
  aspect-ratio: 4/3;
}
.gallery .item.end:nth-child(1) {
  grid-column: 1/6;
  grid-row: 1/1;
  justify-self: end;
}
.gallery .item.end:nth-child(2) {
  margin-top: -12.3rem;
  grid-column: 11/14;
  grid-row: 1/1;
}
.gallery .item.end:nth-child(3) {
  margin-top: 76.4rem;
  grid-column: 1/4;
  grid-row: 1/1;
  justify-self: end;
}
.gallery .item.end:nth-child(4) {
  margin-top: 79rem;
  grid-column: 12 / 14;
  grid-row: 1 / 1;
  margin-left: 4rem;
}
.gallery .item.end:nth-child(5) {
  margin-top: 125rem;
  grid-column: 6 / 12;
  grid-row: 1 / 1;
  justify-self: center;
}

.gallery .item.start:nth-child(1) {
  transform: translate(-22.2rem, 6.2rem) rotate(-5deg);
}
.gallery .item.start:nth-child(2) {
  transform: translate(11.5rem, 3rem) rotate(5deg);
}
.gallery .item.start:nth-child(3) {
  transform: translate(-22.7rem, 21.3rem) rotate(-5deg);
}
.gallery .item.start:nth-child(4) {
  transform: translate(20.3rem, 19.3rem) rotate(5deg);
}
.gallery .item.start:nth-child(5) {
  transform: translate(-10.5rem, 29.5rem) rotate(-5deg);
}

@media only screen and (max-width: 991px) {
  .gallery .item:nth-child(1) {
    width: 27.3rem;
    height: 19.5rem;
  }
  .gallery .item:nth-child(2) {
    width: 17.4rem;
    height: 12.5rem;
  }
  .gallery .item:nth-child(3) {
    width: 17.4rem;
    height: 21rem;
  }
  .gallery .item:nth-child(4) {
    width: 27.4rem;
    height: 19.6rem;
  }
  .gallery .item:nth-child(5) {
    width: 17.5rem;
    height: 21.2rem;
  }
  .item.end:nth-child(2) {
    margin-top: 15.6rem;
  }
  .item.end:nth-child(3) {
    margin-top: 44.6rem;
  }
  .item.end:nth-child(4) {
    margin-top: 57.7rem;
  }
  .item.end:nth-child(5) {
    margin-top: 69.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .gallery .item:nth-child(1) {
    width: 16rem;
    height: 11.3rem;
  }
  .gallery .item:nth-child(2) {
    width: 18.3rem;
    height: 13.2rem;
  }
  .gallery .item:nth-child(3) {
    width: 13.5rem;
    height: 16.5rem;
  }
  .gallery .item:nth-child(4) {
    width: 20.8rem;
    height: 15rem;
  }
  .gallery .item:nth-child(5) {
    width: 15.1rem;
    height: 17.5rem;
  }
  .gallery .item.end:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/1;
  }
  .gallery .item.end:nth-child(2) {
    margin-top: -7.7rem;
    grid-column: 3/4;
    grid-row: 1/1;
  }
  .gallery .item.end:nth-child(3) {
    margin-top: 25rem;
    grid-column: 1/1;
    grid-row: 1/1;
    justify-self: end;
  }
  .gallery .item.end:nth-child(4) {
    margin-top: 18.3rem;
    grid-column: 4/4;
    grid-row: 1/1;
    justify-self: start;
    margin-left: 0;
  }
  .gallery .item.end:nth-child(5) {
    margin-top: 47.4rem;
    grid-column: 2/-2;
    grid-row: 1/1;
    justify-self: center;
  }
}
