.wrap {
  position: relative;
  z-index: 2;
  contain: paint;
  margin-top: -100vh;
  width: 100%;
}

.emptyTop {
  height: 30vh;
}

.emptyBottom {
  height: 100vh;
}

.stick {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  display: grid;
  place-items: center;
}

.stickInner {
  --padding-inline: calc(var(--container--padding, 6rem) - var(--container--column-gap, 2rem));
  width: min(100%, var(--container--max-width, 1440px));
  padding-inline: var(--padding-inline);
}
.text {
  text-align: center;
  mix-blend-mode: overlay;
  display: grid;
  place-items: center;
}

.textInner {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  will-change: transform, opacity;
}

.textItem {
  grid-area: 1 / 1;
  will-change: transform, opacity;
  pointer-events: none;
  max-width: 112rem;
  text-align: center;
}

.heading {
  margin: 0;
  max-width: 58ch;
}

.main {
  position: relative;
  z-index: 2;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

.gallery {
  position: relative;
  width: 100%;
}

.stage {
  position: relative;
  height: 300vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.startCol {
  display: none;
}

.endCol {
  position: relative;
  grid-area: 1 / 1;
}

.item {
  position: relative;
}

.itemInner {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
  pointer-events: none;
}

.img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.endList {
  --padding-inline: calc(var(--container--padding, 6rem) - var(--container--column-gap, 2rem));

  position: relative;
  width: min(100%, var(--container--max-width, 1440px));
  margin: 0 auto;

  padding-inline: var(--padding-inline);
  padding-block: 0;

  display: grid;
  grid-template-columns: repeat(16, minmax(1px, 1fr));
  column-gap: var(--container--column-gap, 2rem);
  align-content: start;
}

.endItem:nth-child(1) {
  grid-column: 1 / 6;
  grid-row: 1 / 1;
  justify-self: end;
  width: 54rem;
  height: 40.5rem;
}

.endItem:nth-child(2) {
  margin-top: -12.3rem;
  grid-column: 11 / 14;
  grid-row: 1 / 1;
  width: 77rem;
  height: 57.6rem;
}

.endItem:nth-child(3) {
  margin-top: 76.4rem;
  grid-column: 1 / 4;
  grid-row: 1 / 1;
  justify-self: end;
  width: 43.2rem;
  height: 52.3rem;
}

.endItem:nth-child(4) {
  margin-top: 79rem;
  grid-column: 13 / 16;
  grid-row: 1 / 1;
  margin-left: 4rem;
  width: 58.7rem;
  height: 42rem;
}

.endItem:nth-child(5) {
  margin-top: 100rem;
  grid-column: 6 / 12;
  grid-row: 1 / 1;
  justify-self: center;
  width: 62.4rem;
  height: 75.6rem;
}

@media (max-width: 991px) {
  .stickInner {
    padding: 0 3.2rem;
  }

  .endList {
    padding: 0 3.2rem;
  }

  .heading {
    max-width: 46ch;
  }
}

@media (max-width: 767px) {
  .wrap {
    margin-top: -100svh;
  }

  .stick {
    height: 100svh;
  }

  .stickInner {
    padding: 0 2.4rem;
  }

  .endList {
    padding: 0 2.4rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 1.6rem;
  }

  .heading {
    max-width: none;
  }

  .stage {
    height: 300svh;
  }

  .endItem:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    margin-top: 0;
  }

  .endItem:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    margin-top: -7.7rem;
  }

  .endItem:nth-child(3) {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    margin-top: 25rem;
    justify-self: end;
  }

  .endItem:nth-child(4) {
    grid-column: 4 / 4;
    grid-row: 1 / 1;
    margin-top: 18.3rem;
    justify-self: start;
  }

  .endItem:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    margin-top: 47.4rem;
    justify-self: center;
  }
}

@media (max-width: 479px) {
  .stickInner {
    padding: 0 1.8rem;
  }

  .endList {
    padding: 0 1.8rem;
  }
}
