.wrap {
  position: relative;
  z-index: 2;
  contain: paint;
  margin-top: -100vh;
}

.stick {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  display: grid;
  place-items: center;
}

.stickInner {
  width: min(100%, var(--container--max-width, 1440px));
  padding: 0 var(--container--padding, 6rem);
}

.text {
  text-align: center;
  mix-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin: 0;
  max-width: 58ch;
}

.heading + .heading {
  margin-top: 3.2rem;
}

.main {
  position: relative;
  z-index: 2;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

.stage {
  position: relative;
  height: 300vh;
  width: 100%;
}

.startCol,
.endCol {
  position: absolute;
  inset: 0;
}

.item {
  position: relative;
}

.itemInner {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
  pointer-events: none;
}

.img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.startItem {
  position: absolute;
}

.startItem:nth-child(1) {
  width: 54rem;
  height: 40.5rem;
  left: 6%;
  top: 55vh;
}

.startItem:nth-child(2) {
  width: 77rem;
  height: 57.6rem;
  left: 54%;
  top: 70vh;
  transform: translateX(-50%);
}

.startItem:nth-child(3) {
  width: 54rem;
  height: 66rem;
  left: 12%;
  top: 120vh;
}

.startItem:nth-child(4) {
  width: 83rem;
  height: 60rem;
  left: 68%;
  top: 150vh;
  transform: translateX(-50%);
}

.startItem:nth-child(5) {
  width: 60rem;
  height: 70rem;
  left: 36%;
  top: 205vh;
  transform: translateX(-50%);
}

.endList {
  position: relative;
  width: min(100%, var(--container--max-width, 1440px));
  margin: 0 auto;
  padding: 0 var(--container--padding, 6rem);
  display: grid;
  grid-template-columns: repeat(16, minmax(1px, 1fr));
  column-gap: var(--container--column-gap, 2rem);
  align-content: start;
}

.endItem:nth-child(1) {
  grid-column: 2 / span 6;
  margin-top: 10vh;
}

.endItem:nth-child(2) {
  grid-column: 9 / span 7;
  margin-top: 22vh;
}

.endItem:nth-child(3) {
  grid-column: 1 / span 5;
  margin-top: 90vh;
  justify-self: end;
}

.endItem:nth-child(4) {
  grid-column: 12 / span 5;
  margin-top: 105vh;
  justify-self: start;
}

.endItem:nth-child(5) {
  grid-column: 5 / span 6;
  margin-top: 165vh;
  justify-self: center;
}

@media (max-width: 991px) {
  .stickInner {
    padding: 0 3.2rem;
  }

  .endList {
    padding: 0 3.2rem;
  }

  .heading {
    max-width: 46ch;
  }
}

@media (max-width: 767px) {
  .wrap {
    margin-top: -100svh;
  }

  .stick {
    height: 100svh;
  }

  .stickInner {
    padding: 0 2.4rem;
  }

  .endList {
    padding: 0 2.4rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 1.6rem;
  }

  .heading {
    max-width: none;
  }

  .stage {
    height: 300svh;
  }

  .startItem:nth-child(1) {
    width: 16rem;
    height: 11.3rem;
    left: 10%;
    top: 55vh;
  }

  .startItem:nth-child(2) {
    width: 18.3rem;
    height: 13.2rem;
    left: 70%;
    top: 70vh;
    transform: translateX(-50%);
  }

  .startItem:nth-child(3) {
    width: 13.5rem;
    height: 16.5rem;
    left: 12%;
    top: 110vh;
  }

  .startItem:nth-child(4) {
    width: 20.8rem;
    height: 15rem;
    left: 74%;
    top: 135vh;
    transform: translateX(-50%);
  }

  .startItem:nth-child(5) {
    width: 15.1rem;
    height: 17.5rem;
    left: 52%;
    top: 185vh;
    transform: translateX(-50%);
  }

  .endItem:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    margin-top: 0;
  }

  .endItem:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    margin-top: -7.7rem;
  }

  .endItem:nth-child(3) {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    margin-top: 25rem;
    justify-self: end;
  }

  .endItem:nth-child(4) {
    grid-column: 4 / 4;
    grid-row: 1 / 1;
    margin-top: 18.3rem;
    justify-self: start;
  }

  .endItem:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    margin-top: 47.4rem;
    justify-self: center;
  }
}

@media (max-width: 479px) {
  .stickInner {
    padding: 0 1.8rem;
  }

  .endList {
    padding: 0 1.8rem;
  }

  .heading + .heading {
    margin-top: 2.4rem;
  }
}
