.section {
  position: relative;
  height: 400vh;
  background: var(--bg-brown-10);
}

.inner {
  position: sticky;
  top: 0;
  height: 120vh;
}

.grid {
  position: relative;
  height: 100svh;
  width: 100vw;
  transform-origin: 50% 50%;
  will-change: transform;
}

.top,
.center,
.bottom {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100svh;
}

.top {
  bottom: 100%;
}

.center {
  top: 0;
}

.bottom {
  top: 100%;
}

.imageWrapper {
  position: absolute;
  width: 100vw;
  height: 100svh;
}

.image {
  object-fit: cover;
}

.scrim {
  position: absolute;
  inset: 0;
  background: #000;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
}

.overlay {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.text {
  pointer-events: auto;
  grid-column: 4 / -4;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  will-change: transform, opacity;
}

.title {
  margin: 0 0 2.4rem;
  text-wrap: balance;
}

.desc {
  margin: 0 0 2.4rem;
}

@media (max-width: 640px) {
  .text {
    grid-column: 1 / -1;
    padding: 0 1rem;
  }
}
