.section {
  position: relative;
  height: 400vh;
  background: var(--bg-brown-10);
}

.inner {
  position: sticky;
  top: 0;
  height: 150svh;
  overflow: hidden;
}

.grid {
  position: relative;
  height: 100svh;
  width: 100vw;
  transform-origin: 50% 50%;
  will-change: transform;
}

.top,
.center,
.bottom {
  position: absolute;
  height: 100svh;
  width: 100vw;
  left: 0;
}

.top {
  bottom: 100%;
}

.center {
  top: 0;
}

.bottom {
  top: 100%;
}

.imageWrapper {
  position: absolute;
  height: 100svh;
  width: 100vw;
  will-change: clip-path;
  overflow: hidden;
}

.image {
  object-fit: cover;
}
