.section {
  position: relative;
  height: 400vh;
  background: var(--bg-brown-10);
}

.inner {
  position: sticky;
  height: 150svh;
  top: 0;
  overflow: hidden;
}

.grid {
  position: relative;
  height: 100svh;
  width: 100vw;
  will-change: transform;
}

.top,
.bottom {
  position: absolute;
  height: 100svh;
  width: 100vw;
}
.top {
  bottom: 100%;
}
.bottom {
  top: 100%;
}

.imageWrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;

  aspect-ratio: 16/9;
}

.image {
  object-fit: cover;
}
